/*General*/
:root {
    /*f8ae72   fd5101*/
    --primary-color:#fa8424;
    --secondary-color: #005344;
    --dark-color: #002e2b;
    --light-color: #fff;
    --popcolor:#f4ce00;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--light-color);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Utility*/
.font-sm {
    font-size: 0.7rem;
}

.center-txt {
    text-align: center;
}


/*Overall Layout*/
body {
    display: grid;
    grid-template-rows: 6rem 1fr 3rem;
    grid-template-columns: 10% 80% 10%;
}

main {
    grid-row: 2;
    grid-column: 2;
}

header {
    grid-row: 1;
    grid-column: 1/4;
    top: 0;
}

footer {
    grid-row: 3;
    grid-column: 1/4;
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 1rem;
}


/*Header Layout*/

h1 {
    flex-grow: 1;
    max-width: 500px;
    font-size: 1.5rem;
    padding-left: 1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    z-index: 992;
    padding-top: 1rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

header img {
    height: 80%;
    scale: 1.2;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

/*Nav*/
/* nav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
} */

nav ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

nav li {
    align-content: center;
    height: 100%;
    padding-right: 1rem;
    font-size: 1.5rem;
}

nav a {
    display: flex;
    border-bottom: 4px solid var(--secondary-color);
    text-decoration: none;
    color: var(--secondary-color);
}

nav a[href="#"] {
    border: none;
}

nav a:hover, 
nav a:active{
    border-bottom: 4px solid var(--dark-color);
    color: var(--dark-color);
}

/*Sidebar Reference: https://www.youtube.com/watch?v=U8smiWQ8Seg&pp=ygUVbWFrZSBhIHNpZGViYXIgaW4gY3Nz*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: var(--primary-color);
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    height: auto;
    padding: 10px;
}

.menu-button {
    display: none;
}

@media(max-width: 1155px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .map-container img, .map-container h2 {
        scale: 50%;
    }
}

@media(max-width: 500px) {
    .sidebar {
        width: 100%;
    }
    h1 {
        max-width: 400px;
    }
}


/*Main*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

main article {
    padding: 20px;
}


/*Footer*/
footer {
    box-shadow: 0 -5px 6px rgba(0,0,0,0.1);
    display: flex;
    z-index: 992;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.foooter-container {
    width: 50%;
}

.footer-socials {
    width: 45%;
}

.footer-socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-socials ul li {
    padding-left: 20px;
}



/*Wildlife Tracker*/
.container {
    display: flex;
    width: 100%;
    background-color: var(--secondary-color);
    min-height: 200px;
    margin: 10px 0px;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s, visibility 0.7s;
}

.container.hide {
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

.searchbar {
    text-align: center;
}

input[type="search"] {
    border: 3px solid black;
}

.container img{
    max-width: 250px;
    max-height: 250px;
    padding: 20px;
}

.animal-description p {
    font-size: small;
    padding-top: 8px;
    padding-right: 5px;
}

.animal-description {
    color: var(--light-color);
    position: relative;
    width: 80%;
}

.animal-description h2 {
    width: fit-content;
    display: inline;
}

/* .animal-header {
    display: flex;  
    position: relative;
    width: fit-content;
} */

.animal-description svg {
    z-index: 900;
    padding-left: 10px;
    width: 25px;
    height: 25px;
    pointer-events: all;
}

.tooltip-content {
    position: absolute;
    width: 100%;
    max-width: 400px;
    max-height: 100px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark-color);
    border: solid 1px;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.tooltip-content.open {
    opacity: 1;
    visibility: visible;
    z-index: 900;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    appearance: none;
    background-color: #e0e0e0;
    border: 3px solid var(--popcolor);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--popcolor);
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container {
    display: block;
    color: var(--light-color);
    padding-right: 30px;
}

.alpha-nav ul li {
    display: inline;
    padding-right: 10px;
}

.alpha-nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.animal-description ul {
    font-size: 1.2rem;
    max-width: fit-content;
    border-bottom: 4px solid var(--popcolor);
    padding-top: 10px;
    padding-inline: 5px;
}

.animal-description ul li {
    display: inline;
    color: var(--popcolor);
    padding-right: 5px;
}

.animal-description a {
    color: var(--popcolor);
    text-decoration: none;
}

/*<Map Page*/
.map-container img {
    border: 5px solid var(--dark-color);
    transform: scale(0.8);
}

.map-container h2 {
    text-align: center;
}